
Rule 1: Let's Make sure everyone is having fun.

Here at Infinity RP we are directing this server towards our community in hopes of creating an equal playing field for all players. This is a semi serious Infinity RP server, however, with that being said we will focus more on quality rather than quantity. If you have issues with someone from a past server, let it go! Use Infinity RP as a new world of RP. Lets all remember at the end of the day this is just a game and we all need to be having fun and getting along or the vision of Infinity RP is useless to even try. We appreciate each and everyone of you and hope you find Infinity RP as an equal environment for everyone to achieve the exact reasons you are here!.

Rule 2: Respect players & Staff


- There is to be no inciting drama in the server itself or in the discord toward other players or staff at any point. If you feel like there is an altercation that needs to be handled, feel free to reach out to a staff member in a respectful manner. You can do so by opening a staff ticket. Please make sure you include all the information regarding the situation. No racist/Hate speech will be tolerated at any point in the server or the discord and will result in an immediate ban. Any role-play in the aspects having to do with Sexual Harassment or Rape role-play will not be tolerated whatsoever within Infinity RP community and will immediately result in a permanent ban. When a punishment or action is handed to you by a staff member, please remain respectful at all times, if you see an issue with your punishment you may submit a ticket asking for someone else to review your ticket. All punishments are discussed with staff prior to issuing the punishment.
Rule 3: Player Names

-  Player Names should be realistic as this is a role-playing server. You can still have imagination in your character name. Do not have any racist or offensive names. This should be prevented in our character creation menus but sometimes slip through our eyes.
Rule 4: Random death match or vehicle deathmatch (RDM/VDM

-Random DeathMatch and or Vehicle DeathMatch is when players go around killing others for no reason or running them over. Using your vehicle as a weapon for no purpose in role-play will result in a disciplinary action and could result in a ban up to being permanent depending on the scenario. Do not start shooting, attempting to kill, hit or injure another player without any in character engagement occurring. This is an example of RDM, and this becomes an issue. Don’t hit or run other players over with a vehicle or ( Attempting to ) cause injury without any in character engagement occurring. This is an example of VDM, and this becomes a serious issue. Staff will handle these issues accordingly. 

Rule 5: Value of Life

-You should realistically fear for your life when threatened with weapons or severe harm. If you are outnumbered the same applies. If you are outnumbered meaning 3 versus 1 or greater than you should follow the scenario. If you’re standing in front of your apartment and someone pulls up with 3-4 people in the car and tells you to put your hands up, you should listen. Not doing so is an example of not valuing your life. You should value another person’s life as well, if they are complying with everything being asked and only kill them if they do not cooperate. Value the lives of others that are involved in the scenario. Do not attempt to quickly draw your weapon and fight back, Run, and or many other examples that could be given. At the end of the day, we are all here to have a good time and a good role-play experience and without a value of life it makes it less immersive for everyone involved.
Rule 6: Hacking

No hacking/modding will be permitted in the city at any point and if you are caught doing either, it will result in an immediate permanent ban.
Rule:7 Fail RP/Gore Rp/Suicide RP/Pregnant RP

- Failure to role-play is when a player is not roleplaying a situation as they should when they are involved in that. If you are in a scenario and fail to role-play this could result in disciplinary actions. At all times you as a player should be role-playing in every situation and scenario you’re in. Basically STAY IN CHARACTER AT ALL TIMES! If you are to encounter a scenario where failed role-play happens, please finish out the scene and then kindly open a ticket explaining the situation.
 
Gore RP is not to happen UNLESS permission on both sides of the RP scene has agreed to do it, due to it ultimately changing the person's character for the rest of that character's life, So PLEASE make sure we are getting permission before this is performed.
Suicide RP is not allowed in the city under any circumstances. This can be a very emotional situation for some and we can’t be having that inside of our city. Any future suicide attempts will be dealt with by staff in a permanent ban with no appeal chances! 
Rule 8: Power Gaming

At any point, a player should not abuse in-game mechanics to give them an advantage that will benefit themselves and/or others. If this happens and or you find a bug it should be reported in a ticket ASAP so that way it can be fixed immediately. If you feel like you’re getting a bit too much of an item or money from something you can also bring this up in the ticket menu. As a police officer, do not taze people from your car. Yes it can be done and no it will not happen, sharing items or cash between other characters. This includes making multiple characters to get the starting cash over and over. Our system will pick this up and you will get a timeout ban for doing this. ( This also includes Carrying someone while riding a bike )

Rule 9: Combat Logging

Combat logging will not be allowed whatsoever at any point in the server. You need to finish out every role-play scenario that occurs in character. If you are in a scenario and you disconnect for any reason that isn’t of your own doing, please open a staff ticket immediately to inform the staff. This is in case any tickets are open, and we can confirm it wasn’t a combat log. Combat log to avoid going to jail, avoid staff punishments, a gun fight or altercation with the police. Everything in this city is logged and with enough investigation we can find out what exactly happened. Please avoid combat logging.
Rule 10: OOC Talk/Voice IDing

-At any point in the server, you as a player are to not bring OOC matters into IC matters. When you join this city, you are the character you’ve created. Anything out of the city, stays out of the city. You also are to not talk OOC in the city, when you are engaged in RolePlaying with other players. If you have an issue that arises in game while roleplaying, DO NOT go OOC. Do the best you can to finish out the scenario and report it to the staff. If you have footage of the scenario please put that in with your report, Please DO SO.

There should be no voice IDing whatsoever. This would be considered cross character meta. If someone is on another character, respect the RP of that new individual being brought into the city. If they are wearing the same clothes, mask, etc., this would not be considered voice IDing.

Rule 11: Scenario Numbers 

-When you are in ANY RP situation, involving shootouts/robberies/gang related RP, ect., you are only allowed to have 4 people involved, however, if you would like to radio in to have an individual set up vehicle, that is fine. However, that person is required to leave the area so they are not involved with the situation. If you are in a gang war with a rival gang, you are allowed to have up to 4 people out on the streets and or pushing the rival’s block. If you are defending your own block you’re allowed to have as many as needed. This could also change depending on the war terms agreed upon. This will also be the same for Territories. If you decide to push a territory that a whole gang is occupying then you should expect all gang members to defend that turf. Understand the difference between beef and war. Beef is what should lead into a war, and the rule of 4 should always apply. *The only exception to this rule is turf wars.*
Rule 12: New Life Rule

-If you are down, you can decide to either wait for EMS/Police to come to your location to help you to the pillbox or you can respawn. However, if you’ve been shot multiple times in the head please don’t talk as if nothing is wrong, DO NOT lifeflight if you are in any active scene, wait for it to be concluded. You have a brilliant /me feature that allows you to roleplay out scenarios. This includes gang fights and or police fights on your back making call outs. It will be dealt with accordingly. If you decide to respawn, you cannot remember the last 15 minutes of events that led to you getting downed once you respawn. Role-Play it out and let the people involved fill you in.
Rule 13: Cop-Baiting
Players are to not bait officers at any point while they are on the server with the intent of disrupting/trolling those officers. If the officer(s) are dealing with an active scene such as a shootout/robbery or engaged in an active roleplay situation, players need to let cops finish that RP scenario before engaging themselves. If you see a police officer setting up a speed trap and purposely driving at high rates of speed just to start a cop chase on purpose is an example of cop baiting. You can rob police officers of what you need during a fight. Please do not empty their pockets and vehicles to stock up on police goods. There are plenty of ways for you to get this on the streets, we do not need to drain the police dry in every scenario.
Rule 15: cooldowns

Starting now we will have cool downs on robberies in the city. Please make sure you follow this or you will be brought into a ticket to discuss.
15 min cool down for all store robberies.
30 min cool down for any police alerted jobs.
15 min cool down for any turf wars.

Rule 16: Chain Robbing

Chain robbing banks, convenience stores, liquor stores, Vangelicos, ect. Is not a thing. Every Robbery you do should have a story behind it as to why. It’s low effort and FailRP. Chasing wins is not the mentality that we expect to see in our city. Smash and Grabs are not to be done. You rob a store and it is ‘’ Scuffed ‘’, Deal with it. It doesn’t mean go to the next one and hope for something better. You wait for the cops and continue the scene. Give the cops enough time so they can get their RP in also. Lack of doing so, will start resulting in bans.
Rule 17: Headpops

If you are in a scene and you have a ( headpop ) you are required to RETURN to that scene to carry out that scene. If you are detained after a chase and a headpop occurs, you are STILL detained when you return from that headpop. Not returning to a scene after a headpop is Powergaming and in some cases could be considered Combat Logging. When/if caught will be treated as such.
Rule 18: Storm Warnings

This rule is more or less for criminals. From this moment forward NO MORE CRIMINAL ACTIVITY is permitted 30 mins ***BEFORE*** OR 30 MINS ***AFTER*** the Tsunami. This includes: Selling drugs, Banks, Convenience stores ect. IN GENERAL, Do not engage in criminal activity after the 30 min warning. However, if the scene is started ***BEFORE*** the Tsunami warning, and carries over into the 30 min warning, go ahead and carry out the scene.

Rule 19: Government Vehicles

Stealing Government Vehicles, whether it be a PD cruiser or an Ambulance, is a direct threat. Not only will you be shot if you are found doing so, the charges are immense. We ask that Helicopters not be taken at any scene for any reason as Aircraft is not available at the moment in the city. We will not look into any type of tickets regarding the behavior of police leading to you stealing police/ems vehicles. If you decide to steal the police car and end up getting caught then you better be ready to face the consequences that come along with it.

Rule 20: Pocket Wiping

In regards to pocket wiping though it is not against any rules to pocket wipe a person, WE ask, Take only what is needed at the time. Pocket wiping should only be used if the RP calls for it, Ocean Dumping someone, Or if beef has brought this upon the RP. Taking Guns, Armor, ammo and things in such nature is ok. Leave the food phone and other items one will have that you find yourself not needing. 

When robbing a player for general RP purposes, and NOT IN A SHOOTOUT, this opens up on a broader spectrum. Any item OUTSIDE of IDs, weapon licenses, drivers licenses, and hunting licenses can be removed. This does not mean you are given the right to pocket wipe someone. But if you choose to take drugs, money, or jewelry, from a player with intent of profit gain, that would be considered okay. Yes, this means debit cards can be taken also, so utilize your 6th pocket accordingly. This also doesn’t mean we are allowing people to just run around the city robbing people with no RP or back story either. If found abusing this rule, it will be an automatic 24 hour ban.

Rule 21: Hostage taking/unrealistic Hostage Demands

If you are taking a hostage, please be respectful to that individual. A person’s Radio/Phone can be removed till the situation is over and is expected to be returned to said player accordingly. Please do not steam items off your hostage unless you find something they could use to hurt you. You are not permitted to take people you know as hostage. This is low effort RP and meta gaming. 

Please refrain from asking police for illegal items and or money. It will never be a demand that is granted. If the police inform you that a demand can not be met, you will be required to choose another demand. Once demands are agreed upon, they are final, both sides are required to honor those demands.
Rule 23: EMS

On Duty EMS can not be killed. They can ONLY be taken hostage if there are 2 or more EMS employees on duty.


                                              Rule 25: Turf Wars

Turf wars will be treated as a gang block to whichever gang owns the turf. However, taking a turf you may push with 4, Defending the turf - any one in said gang may defend as long as they are on the turf when the fight starts. That being said, once the fight starts no other members can attach on either side.
COOL DOWN - 15 Min


